.asset-item {
    width: 40%;
    margin-top: 30px;
    color: black;
    padding: 2% 4% 2% 4%;
    /*background: #fff;*/
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .asset-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  #asset-info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .asset-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .asset-image {
    width: 40%;
    height: 20%;
    background-size: cover;
    background-position: center;
  }
  
  .asset-links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .asset-links li {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .asset-links li:hover {
    color: #ffc371;
    transition: 0.3s;
  }