@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.blog-page{
  overflow: hidden;
  height: 100vh;
}

.light .blog-page {
  background-color: white;
  margin-top: 0%;
}

.dark .blog-page{
  background-color: #121212;
  margin-top: 0%;
}

.darkmodebutton{
  display: none;
}

.light .database-nav-bar{
  color:rgb(0, 0, 0);
}

.dark .database-nav-bar{
  color:rgb(255, 255, 255);
}

.light #database-return{
  color:rgb(0, 0, 0);
}

.dark #database-return{
  color:white;
}

.light #assetsdirect{
  color:rgb(0, 0, 0);
}

.dark #assetsdirect{
  color:white;
}
/* keep blog sign on the left of the screen */


.light .blog-sign {
  width: 38%;
  margin-left: 7%;
  height: 0%;
  margin-top: 35%;
  transform-origin: 8px 8px;
  transform: rotate(-90deg);
  letter-spacing: 30px;
  font-size: 6em;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  z-index: -2;
}

.dark .blog-sign {
  width: 38%;
  height: 0%;
  margin-left: 7%;
  margin-top: 35%;
  transform-origin: 8px 8px;
  transform: rotate(-90deg);
  letter-spacing: 30px;
  font-size: 6em;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  z-index: -4;
  
}
@media only screen and (max-width: 671px) {
    .dark .blog-sign{
      width: 137%;
      height: 0%;
      margin-left: 0%;
      transform-origin: 150px 150px;
      transform: rotate(-90eg);
      letter-spacing: 30px;
      font-size: 4em;
      font-family: "Poppins", sans-serif;
      color: rgb(255, 255, 255);
      z-index: -4;
    }
    .light .blog-sign{
      width: 137%;
      height: 0%;
      margin-left: 0%;
      transform-origin: 150px 150px;
      transform: rotate(-90eg);
      letter-spacing: 30px;
      font-size: 4em;
      font-family: "Poppins", sans-serif;
      color: rgb(0, 0, 0);
      z-index: -4;
    }

}
.blog-article-list {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8%;
  margin-right: 4%;
}
@media only screen and (max-width: 671px) {
  .blog-article-list{
    display:none;
  }
  #blog-article-display{
    display:none;
  }
  #blog-article-display-mobile{  
    padding: 2% 5% 5% 5%;
    font-size: 14px;
  }
  
}
.blog-article-list ul li{
  list-style: none;
  margin-bottom: 5%;
}

.blog-button-image {
  width: 250px;
  transition: 0.5s;
  border-radius: 10px;
}



/*slow down the transformation*/
.blog-button-image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.light .blog-button-title {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.dark .blog-button-title {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

.light #blog-article-display {
  color: black;
  margin: auto;
  width: 40%;
  background-color: whitesmoke;
  align-items: center;
  border-radius: 10px;
  padding: 2% 5% 5% 5%;
  height: 70vh;
  overflow: scroll;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dark #blog-article-display {
  color: rgb(255, 255, 255);
  margin: auto;
  width: 40%;
  background-color: #121212;
  align-items: center;
  border-radius: 10px;
  padding: 2% 5% 5% 5%;
  height: 70vh;
  overflow: scroll;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#blog-article-display-mobile{  
}
@media only screen and (min-width: 671px) {

  #blog-article-display-mobile{  
  display: none;
  }
}
@media only screen and (max-width: 671px) {
  .blog-article-list{
    display:none;
  }
  #blog-article-display{
    height: 0vh;
    display:none;
  }
}
/*center the image*/
.article-image {
  align-self: center;
}

.card-on-mobile{
  top : 10%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-blog-1{
  top: 30%;
  right: 10%;
  align-items: center;
  background: #f5f5f5;
  padding: 1rem 3rem;
  color: #000;
  box-sizing: inherit;
  position: absolute;
  pointer-events: auto;
}

.card-blog-2{
  top: 45%;
  right: 10%;
  align-items: center;
  background: #f5f5f5;
  padding: 1rem 3rem;
  color: #000;
  box-sizing: inherit;
  position: absolute;
  pointer-events: auto;

}

.card-blog-3{
  top: 60%;
  right: 10%;
  align-items: center;
  background: #f5f5f5;
  padding: 1rem 3rem;
  color: #000;
  box-sizing: inherit;
  position: absolute;
  pointer-events: auto;

}

.light .card-blog-3{
  background:#000;
  color: #f5f5f5;
}

.light .card-blog-3[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#f5f5f5;
  color: #000;
  z-index: 1;
}
.dark .card-blog-3[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#000000;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.light .card-blog-1{
  background:#000;
  color: #f5f5f5;
}

.light .card-blog-2{
  background:#000;
  color: #f5f5f5;
}


.light .card-blog-1[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#f5f5f5;
  color: #000;
  z-index: 1;
}
.dark .card-blog-1[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#000000;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.light .card-blog-2[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#f5f5f5;
  color: #000;
  z-index: 1;
}
.dark .card-blog-2[data-isOpen="true"] {
  top: 0%;
  right: 0%;
  background:#000000;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.card-expand{
  width: inherit;
  height: auto;
  padding: 2% 5% 5% 5%;
  overflow: scroll; 

}
.card-blog-1 p{
  padding-top: 1rem;
  line-height: 150%;
  color: #000;
  align-items: center;
}

.dark .card-blog-1 p{
  color:#f5f5f5;
}
@media only screen and (min-width: 671px) {

  .card-on-mobile{  
  display: none;
  }
}
