@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#database-page {
  background-color: whitesmoke;
  padding: 1% 0 0 0;
}

.database-products {
  color: black;
  margin-top: 2%;
  padding: 0% 5% 5% 5%;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.return-home {
  text-align: center;
  margin-top: 2%;
}

#database-return {
  text-decoration: none;
  color: black;
}

#database-return {
  display: inline-block;
  position: relative;
  color: #000;
}

#database-return:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#database-return:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
