@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html .dark{
  background-color: #121212;
}

.light #database-page {
  background-color: rgb(255, 255, 255);
  padding: 1% 0 1% 0;
  margin-top: 0%;
}

.dark #database-page {
  background-color: #121212;
  padding: 1% 0 1% 0;
  margin-top: 0%;
}

.darkmodebutton{
  display: none;
}

.light .database-products {
  color: black;
  margin-top: 2%;
  padding: 0% 5% 5% 5%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.dark .database-products {
  color: rgb(255, 255, 255);
  margin-top: 2%;
  padding: 0% 5% 5% 5%;
  background: #121212;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.light #database-return {
  text-decoration: none;
  color: black;
}

.dark #database-return {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.light #database-return {
  display: inline-block;
  position: relative;
  color: #000;
}

.dark #database-return {
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
}

.light #database-return:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dark #database-return:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#database-return:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.light .list {
  color: black;
  margin-top: 0.5%;
  padding: 0% 3% 5% 0%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}

.dark .list {
  color: rgb(255, 255, 255);
  margin-top: 0.5%;
  padding: 0% 3% 5% 0%;
  background: #121212;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}

.search-bar {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  text-indent: 15px;
  margin-top: 0.5%;
  
}

.dropdown {
  padding-top: 1%;
  display: flex;
  flex-direction: row-reverse;
}

.search-bar-container {
 padding-left: 1%;
 padding-right: 1%;
}


/* Navigation bar styling */

.light .database-nav-bar {
  z-index: 6;
  color: whitesmoke;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
}

.dark .database-nav-bar {
  z-index: 6;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
}

.database-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.database-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.light .database-nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.dark .database-nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.categories {
  padding-top: 4%;
  vertical-align: top;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
}

.categories-list button {
  margin-bottom: 10px;
  width: 100%;
}

/* Underline Animation */
.database-nav ul li a {
  display: inline-block;
  position: relative;
  color: #000;
}

.database-nav ul li a {
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
}

.light .database-nav ul li a:after,
#artists a:after,
#socials a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dark .database-nav ul li a:after,
#artists a:after,
#socials a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.database-nav ul li a:hover:after,
#artists a:hover:after,
#socials a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.model-list {
  width: 100%;
}

.search-bar-container {
  width: 50%;
  margin: 0 auto;
}

.dropdown {
  margin-top: 5%;
  margin-right: 5%;
}

@media only screen and (min-width: 671px){
  .dropdown {
    display: none;
  }

  .search-bar-container {
    margin-bottom: 1%;
  }

}

@media only screen and (max-width: 671px) { 

  .search-bar-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
  }

  .categories {
    display: none;
  }

  .database-table-view{
    margin-left: 4%;
  }
}
.nextui-c-cVVQUL.nextui-c-PJLV.nextui-c-cVVQUL-crfSce-borderWeight-light.nextui-c-PJLV-gulvcB-isFocusVisible-false.nextui-c-cVVQUL-idYOtdv-css.nextui-popover-content-container.nextui-popover-content-enter.nextui-popover-content-enter-active{
  border-style: solid;
}

.light .nextui-c-eXOOPO.nextui-c-eXOOPO-iNKybL-shadow-true.nextui-c-eXOOPO-ccrOPm-underlined-false.nextui-c-eXOOPO-lkBNdM-isTextarea-false.nextui-input-wrapper.nextui-input-wrapper--normal.nextui-input-wrapper--shadow{
  background-color: rgb(218, 218, 218);
}

.light .nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-input-block-label{
  color: rgb(0, 0, 0);
}

.light .nextui-c-cwdhZi.nextui-input-helper-text{
  color: rgb(0, 0, 0);
}

/* .dark .nextui-c-eXOOPO.nextui-c-eXOOPO-iNKybL-shadow-true.nextui-c-eXOOPO-ccrOPm-underlined-false.nextui-c-eXOOPO-lkBNdM-isTextarea-false.nextui-input-wrapper.nextui-input-wrapper--normal.nextui-input-wrapper--shadow{
  background-color: red;
} */
/* .nextui-c-jeuecp.nextui-c-jeuecp-bAQXE-focused-true.nextui-input{
  background-color: red;
}
.nextui-c-eXOOPO.nextui-c-eXOOPO-iNKybL-shadow-true.nextui-c-eXOOPO-ccrOPm-underlined-false.nextui-c-eXOOPO-lkBNdM-isTextarea-false.nextui-input-wrapper.nextui-input-wrapper--with-value.nextui-input-wrapper--shadow{
  background-color: red;
}
.nextui-c-iwmZdB.nextui-c-iwmZdB-jTfqsF-helperColor-default.nextui-c-iwmZdB-dpkacN-borderWeight-normal.nextui-c-iwmZdB-gOvjVW-size-md.nextui-c-iwmZdB-ifDbmpe-css.nextui-input-main-container.nextui-input-main-container--hover{
  background-color: red;
}

.nextui—c—ghxhhl.nextui—c—ghxhhI—fjttf0—isTextarea—false.nextui—c—ghxhhI—iNKybL—animated—true.nextui—c—ghxhhl—hcQiFN—cv.nextui—input—container.nextui—input—container--hover.nextui—input—container--input.search—bar{
  background-color: red;
}

.nextui-c-iwmZdB.nextui-c-iwmZdB-jTfqsF-helperColor-default.nextui-c-iwmZdB-dpkacN-borderWeight-normal.nextui-c-iwmZdB-gOvjVW-size-md.nextui-c-iwmZdB-ifDbmpe-css.nextui-input-main-container.nextui-input-main-container--hover{
  background-color: red;
} */

.nextui-c-iwmZdB-ifDbmpe-css{
  --nextui--inputColor: rgb(218, 218, 218) !important;
}