@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root{
  --gray: #262626;
  --white: #f5f5f5;
}
* {
  scroll-behavior: smooth;
  margin-top: 0%;
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.darkmodebutton{
  display: none;
}

body{
  font-family: "Leageu-Spartan", sans-serif;
  background: var(--background);
  color: var(--text-color);
  background-size: var(--background-size);
  transition: var(--background) 5s ease-out;
  overflow-y: scroll;
}


body.light {
  --color: var(--white);
  --text-color: var(--gray);
  --background: linear-gradient(to right, #ff5f6d, #ff8657, #e2911f);
  --background-size: 400% 400%;
  animation: change 15s ease-in-out infinite;
  overflow-y: scroll;
  transition: var(--background) 5s ease-out;
}


body.dark {
  --color: var(--gray);
  --background: linear-gradient(to right, #122F50, #25587C, #3AA8C2);
  --text-color: var(--white);
  --background-size: 400% 400%;
  animation: change 15s ease-in-out infinite;
  overflow-y: scroll;
  transition: var(--background) 5s ease-out;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navigation Bar */
.nav-bar {
  margin-top: 1%;
  color: #f5f5f5;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

/* Image Logo */
.App-logo {
  width: 100%;
  height: 70vh;
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* Flex-Box */
.flex-box {
  display: flex;
  align-items: stretch;
}

.home-headers {
  letter-spacing: 1em;
  line-height: 1.5em;
  width: 50%;
  height: 75vh;
  background-size: cover;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 1.5em;
  color: whitesmoke;
}

.btn {
  height: 10%;
  width: 80%;
  background-color: #ffc371;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

#dark .btn{
}

.btn:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}

/* Asset Section */
.collection-banner {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

.light #new-arrivals {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.dark #new-arrivals {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  padding: 1.5% 5% 5% 5%;
  background: #262626;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.light .sections2 {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.dark .sections2 {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  padding: 1.5% 5% 5% 5%;
  background: #262626;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.light .sections3 {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  border: #ff8657 solid 5px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.dark .sections3 {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  padding: 1.5% 5% 5% 5%;
  border: #122F50 solid 5px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.vertical-asset-card-block {
  width: 20%;
}

.light #new-arrivals h4 {
  color:rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.dark #new-arrivals h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.assets-section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.assets-table tr {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.assets-table td {
  width: 20%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* Underline Animation */
nav ul li a, #artists a, #socials a {
  display: inline-block;
  position: relative;
  color: #fff;
}

nav ul li a:after, #artists a:after, #socials a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover:after, #artists a:hover:after, #socials a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Footer */
#footer {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  background: var(--color);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#socials {
  text-align: center;
  padding-top: 1%;
}

.social-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}

.team-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Underline Animation */
#artists a, #socials a {
  color: #000;
}

#artists a:after, #socials a:after {
  background-color: #000;
}

.light .teamcalled{
  color:black;
}

.dark .teamcalled{
  color:white;
}

.light .teamtitletext{
  color:#000;
  margin-top: "2%";
}

.dark .teamtitletext{
  color:rgb(255, 255, 255);
  margin-top: "2%";
}

.light .contactus{
  color:#000;
  margin-Top: "3%";

}

.dark .contactus{
  color:rgb(255, 255, 255);
  margin-Top: "3%";
}

.light .contact-content{
  color:#000;
  margin: 4% 20% 1% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark .contact-content{
  color:white;
  margin: 4% 20% 1% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.light .contact-content a{
  text-decoration: none;
  color: black;
}

.dark .contact-content a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}