@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* Styling for the whole page */
.App{
  font-family: 'League-Spartan', sans-serif;
  /* background: linear-gradient(to right, #fff, #edd3a1, #e8b5b3); */
  background: linear-gradient(to right, #ff5f6d, #ff8657, #e2911f);
  background-size: 400% 400%;
  animation: change 15s ease-in-out infinite;
  overflow: hidden;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navigation Bar */
.nav-bar {
  color: whitesmoke;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffc371;
  transition: 0.3s;
}

/* Image Logo */
.App-logo {
  width: 100%;
  height: 70vh;
  margin-top: 5%;
  margin-left: 5%;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* Flex-Box */
.flex-box {
  display: flex;
  align-items: stretch;
}

.home-headers {
  letter-spacing: 1em;
  line-height: 1.5em;
  width: 50%;
  height: 75vh;
  background-size: cover;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 2em;
  color: whitesmoke;
}

.btn{
  height: 10%;
  width: 80%;
  background-color: #ffc371;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

.btn:hover{
  background-color: whitesmoke;
  transition: 0.3s;
}

/* Asset Section */
.collection-banner{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

#new-arrivals {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  /*background: #fff;*/
  /* background: rgb(250, 250, 250); */
  background: whitesmoke;
  /* background: rgb(255, 196, 0, 0.2); */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.sections2 {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  /*background: #fff;*/
  /* background: rgb(250, 250, 250, 0.8); */
  background: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row; 
}

.sections3 {
  margin-top: 30px;
  color: black;
  padding: 1.5% 5% 5% 5%;
  /*background: #fff;*/
  /* background: rgb(250, 250, 250, 0.8); */
  background: rgb(0, 0, 0, 0.2);
  border: #ff8657 solid 5px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); */
  display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row; 
}

.vertical-asset-card-block{
  width: 20%;
}

#new-arrivals h4{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.assets-section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.assets-table tr{
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.assets-table td{
  width: 20%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}



/* Testing */
/* className="hover-underline-animation" */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 110%;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Database CSS Styling */
/* .database{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.database-card {
  margin-left: 1%;
  margin-right: 10%;
 } */